* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at top, #0f2027, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hidden {
  display: none;
}

/* SCREENS */
.screen {
  text-align: center;
}

.screen h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.screen button {
  padding: 12px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background: #6c63ff;
  color: white;
  cursor: pointer;
}

.screen button:hover {
  background: #584fe0;
}

/* GAME */
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hud {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

#gameArea {
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(108, 99, 255, 0.3);
}

/* PLAYER */
#player {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  position: absolute;
  bottom: 10px;
  left: 130px;
  border-radius: 8px;
}

/* BULLET */
.bullet {
  width: 6px;
  height: 12px;
  background: yellow;
  position: absolute;
  border-radius: 3px;
}

/* ENEMY */
.enemy {
  width: 35px;
  height: 35px;
  background: crimson;
  position: absolute;
  border-radius: 50%;
}
